{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start site body area -->
<section class="man-content-wrap">
	<div class="container-fluid">
        <div class="row">
        	<!-- start post area -->
            <div class="col-md-8 post-area-wrap">
            	<div class="post-area-wrap-inner">
                {{#foreach posts}}
                <!-- start article -->
                <article class="single-post-wrap">
                	<header class="post-header">
                		<h2 class="title"><a href="{{url}}">{{{title}}}</a>{{#if featured}}<span class="featured-lable">Featured</span>{{/if}}</h2>
                		<div class="post-meta">
                			<span class="date">
                                <i class="fa fa-clock-o fa-fw"></i>
                                {{date format="MMM DD, YYYY"}}
                            </span>
                            {{#author}}
                			<span class="author">
                                <i class="fa fa-pencil-square-o fa-fw"></i>
                                <a href="{{url}}">{{name}}</a>
                            </span>
                            {{/author}}
                			<span class="comment">
                                <i class="fa fa-comment-o fa-fw"></i>
                                <a href="{{url}}#disqus_thread">0 Comments</a>
                            </span>
                		</div>
                	</header>
                    {{#if image}}
                	<div class="featured-media">
                		<a href="{{url}}" title="{{{title}}}">
                			<img src="{{image}}" alt="{{{title}}}">
                		</a>
                	</div>
                    {{/if}}
                	<div class="post-entry">
                		{{content words="50"}}
                	</div>
                	<div class="post-permalink">
                        <a href="{{url}}">Continue Reading...</a>
                    </div>
                    <footer class="post-footer">
                        {{#if "tags"}}
                    	<div class="tag-list">
                            <i class="fa fa-folder-o fa-fw"></i>
                            {{tags separator=", "}}
                        </div>
                        {{/if}}
                    </footer>
                </article>
                <!-- end article -->
                {{/foreach}}
                </div>
                {{pagination}}
            </div>
        	<!-- end post area -->
        	{{> sidebar}}
        </div>
    </div>
</section>
<!-- end site body area -->